@media (max-width:750px){

    header{
        flex-direction: column ;
        height: auto  !important;
    }

    #header-city, #phone-number {

        font-size: clamp(27px,1.5vw,33px) !important;
    }

    #city-lang{
        justify-content: space-between;
        width: 70%;
    }
    #logo{
        display: none !important;
    }
    #networks
    {
       margin-bottom: 1em;
    }

    .dropdown{
        width: 40% !important;
    }

    .dropdown button {
        width: 100% !important;
    }

    #facebook-img, #whatsapp-img{
        width: 7vw !important;
    }
}




:root{
    --add-color: rgb(252, 242, 242);
    --main-color:#FAC0BC;
    --yellow-color:rgb(255, 251, 251);
    --button-color:#BE1E2D;
}


body
{
    font-weight:bold;
    font-style: normal;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin:0;
    padding-bottom: 5em;
    background-color: var(--main-color)!important; 
}

#header-logo{
    width:auto;
    align-self: flex-start;
}
#logo
{
    height: 7vw;
    margin-top: .2em;
}


header{
    background-color: var(--add-color);
    padding-block: .5em;
    position: sticky;
    top:0;
    padding-inline: 10%;
    height: 5em;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 2;
}

header a{
    color:black;
    text-decoration: none;
}

#networks{
    align-self: center;
    display: flex;
    gap:1vw;
    width:auto;
    justify-content: space-between;
}

#header-city,#phone-number{
    font-size: clamp(23px,2vw,33px);
    height: fit-content;
}

#facebook-img, #whatsapp-img {
    width: 3vw;
    transition: transform 0.3s ease; 
}

#facebook:hover #facebook-img,#whatsapp:hover #whatsapp-img  {
    transform: scale(1.2); 
}

#phone-number{
    align-self: center;
}

#city-lang{
    display: flex;
    justify-content: space-between;
    gap:3vw;
    align-items: center;
}
.dropdown-menu
{
      width: auto !important;
    --bs-dropdown-min-width: 0 !important;
    --bs-dropdown-link-active-color: black !important;
    --bs-dropdown-link-active-bg:var(--button-color) !important;
}


.dropdown button{
    background-color: var(--button-color) !important;
    border-color: black !important;
    width: 10vw;
    font-size: clamp(23px,2vw,33px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-item{
    font-size: 1.3em;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div{
    justify-self:flex-end
}
main img{
    width: 100%;
}
#cutie
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 4vw;
    width: 100%;
    height: 80vw;
    background-image: url(images/main2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top center;

    box-shadow: 0px -44px 37px -25px rgba(255,255,255,0.75) inset;
    -webkit-box-shadow: 0px -44px 37px -25px rgba(255,255,255,0.75) inset;
    -moz-box-shadow: 0px -44px 37px -25px rgba(255,255,255,0.75) inset;
}

#cutie p{
    text-align: center;
    color:white;
    font-size: clamp(38px,8vw,140px);
    font-weight: bolder;
    line-height: 1.1;
    text-shadow: 1px 5px 0px rgba(0,0,0,0.67);
}




#main-text{
    margin-top: 2em;
    width: 86%;
    font-weight: bold;
    margin: 2 auto;
}

#main-text p{
    font-size: clamp(22px,4vw,70px);
    text-align: center;
}

#main-text h1{
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: clamp(35px,3vw,70px);
    font-weight: bolder;
    text-align: center;
}

#guarantees{
    display: flex;
    gap:2vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.one-guarantee{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .5em;
    line-height: 1.2em;
    font-size: clamp(30px,3vw,45px) !important;
    width: 80%;
}

.plus{
    width: 4vw;
    min-width: 30px;
    margin-right: .5em;
    position: absolute;
    left: 5vw;
}

.plus img{
    width: 100%;
}


.thumbnail {
    width:40vw;
    height: 50vw;
    border-radius: .5em;
    object-fit: cover;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .7);
    transition: transform 0.4s ease;
  }

.thumbnail:hover {
    transform: scale(1.07);
}
  #gallery-container {
    margin-block: 10vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 2em;
}


#facebook-src {
    background-color: var(--add-color);
    box-shadow: 10px 15px 0px rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    padding-inline: 3vw;
    padding-block: 1em;
    margin-top: 5em;
    display: flex;
    width: 100%; 
    justify-content: space-around;
    align-items: center;
    height: fit-content;
}

#facebook-src img{
    border-radius: 50%;
    margin-right: 2em;
}

#cat-card{
    width: 50% !important;
}

#cat-card img{
    width: 100% !important;
}

#text-facebook{
    display: block;
    width: 40%;
}

#text-facebook p{
    font-size: clamp(15px,4vw,80px);
}








